* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.navbar-brand .title {
    font-size: 20px;
    font-style: normal;
    font-family: sans-serif;
    position: relative;
    left: 10px;
    top: 4px;
    font-weight: 600;
}

.navbar-brand img {
    position: relative;
    left: 3px;
    right: 5px;
    top: -2px;
}
.card {
    height: 300px;
    margin-bottom: 30px;

}
.card img {
    height:300px;
}
.card h4 {
    font-style: italic;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}
.main-card-text {
    text-align: center;
    padding-bottom: 20px;
}
.card-status {
    font-size: 16px;
    color: blue;
    font-weight: bold;
}
.trending-card-text {
    float: left;
}
.trending1 {
    margin-right: 40px;
}
.trending2 img {
    height: 110px;
    width:350px;
}
.t_img {
    width:200px;
}
.trending1 img {
    height: 110px;
}